// color
$color-base: #6f6f6f;
$color-success: #1cc88a;
$color-danger: #e74a3b;
$color-primary: #4e73df;

// border
$border-color: #636363;
$border-color-gray: #dddddd;
$border-success: #1cc88a;
$border-danger: #e74a3b;
$border-primary: #4e73df;
